<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Joins Done</title>
</head>
<body>
<div class="col-md-2"></div>
<div class="col-md-8">
<div class="container mt-2">

    <table class="table table-dark">
  <thead>
  <h3 class="text-center text-dark bg-light">Site 3 Temp1 Data</h3>
    <tr>
      <th scope="col">branch_id</th>
      <th scope="col">supplies_name</th>
      <th scope="col">supply_id</th>
      <th scope="col">branch_name</th>
      <th scope="col">mgr_id</th>
      <th scope="col">mgr_start_date</th>

    </tr>
  </thead>
  <tbody>
  {% for post in sdis1 %}
   <tr>
      <td>{{post.branch_id}}</td>
      <td>{{post.supplies_name}}</td>
      <td>{{post.supply_id}}</td>
      <td>{{post.branch_id}}</td>
      <td>{{post.mgr_id}}</td>
      <td>{{post.mgr_start_date}}</td>
    </tr>

  {% endfor %}


  </tbody>
</table>

</div>

<br>
<div class="container mt-2">

    <table class="table table-dark">
  <thead>
  <h3 class="text-center text-dark bg-light">Site 3 Temp2 Data</h3>
    <tr>
      <th scope="col">client_id</th>
      <th scope="col">client_name</th>
      <th scope="col">branch_id</th>
      <th scope="col">emp_id</th>
      <th scope="col">first_name</th>
      <th scope="col">last_name</th>
      <th scope="col">birth_date</th>
      <th scope="col">sex</th>
      <th scope="col">salary</th>
      <th scope="col">super_id</th>

    </tr>
  </thead>
  <tbody>
  {% for post in sdis2 %}
   <tr>
      <td>{{post.client_id}}</td>
      <td>{{post.client_name}}</td>
      <td>{{post.branch_id}}</td>
      <td>{{post.emp_id}}</td>
      <td>{{post.first_name}}</td>
      <td>{{post.last_name}}</td>
      <td>{{post.birth_date}}</td>
      <td>{{post.sex}}</td>
      <td>{{post.salary}}</td>
      <td>{{post.super_id}}</td>
    </tr>

  {% endfor %}


  </tbody>
</table>

</div>
<br>
<button><a href="/pfinal">Final</a></button>
</div>
</div>
</form>
</body>
</html>
