<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tables</title>
</head>
<body>
<div class="col-md-2"></div>
<div class="col-md-8">



<div class="container mt-2">

    <table class="table table-dark">
  <thead>
  <h3 class="text-center text-dark bg-light">Employee Data</h3>
    <tr>
      <th scope="col">emp_id</th>
      <th scope="col">first_name</th>
      <th scope="col">last_name</th>
      <th scope="col">birth_date</th>
      <th scope="col">sex</th>
      <th scope="col">salary</th>
      <th scope="col">super_id</th>
      <th scope="col">branch_id</th>
    </tr>
  </thead>
  <tbody>
  {% for post in query %}
   <tr>
      <td>{{post.emp_id}}</td>
      <td>{{post.first_name}}</td>
      <td>{{post.last_name}}</td>
      <td>{{post.birth_date}}</td>
      <td>{{post.sex}}</td>
      <td>{{post.salary}}</td>
      <td>{{post.super_id}}</td>
      <td>{{post.branch_id}}</td>
    </tr>
   
  {% endfor %}
   
  </tbody>
</table>


</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<button><a href="/range" style="text-decoration: none; text-decoration-color: black;">Range</a></button>


<!--<form action="/" method="post">
  <div class="form-group">
      <input type="text" name="attribute1" class="form-control mt-2" placeholder="Enter attribute1" required="required">
  </div>
  <br>
  <br>
  <div class="form-group">
      <input type="text" name="attribute2" class="form-control mt-2" placeholder="Enter attribute2" required="required">
  </div>
  <br>
  <br>
  <div class="form-group">
    <input type="text" name="vattribute1" class="form-control mt-2" placeholder="Enter value of attribute1" required="required">
  </div>
  <br>
  <br>
  <div class="form-group">
      <input type="text" name="vattribute2" class="form-control mt-2" placeholder="Enter value of attribute2" required="required">
  </div>-->
</body>
</html>